. {
     padding: 0;
     margin: 0;
    }


    body {
       background-color: #062863;
       margin-left: auto;
       margin-right: auto;
    }
    
    h1 {
        color: white;
        margin-top: 50px;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    
    form {
        background-color: white;
        min-width: 100px;
        max-width: 400px;
        margin: 0 auto;
        padding: 5px;
        margin-top: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
        position: relative;
        z-index: 1;

    }

    .allimage img {
        width: 150px;
        position: fixed;
    }

     .allimage .img1 {
                 
                left: -50px;
                bottom: -40px;
    }

    .allimage .img2 {
        left: -10px;
        top: -55px;
    }

    .allimage .img3 {
        right: -60px;
        bottom: -30px;

    }
    
    .allimage .img4 {
            right: -70px;
            top: 0;
    
    }

   /* .aline {
        display: flex;
        align-items: end;
        margin-left: 550px;
        margin-right: 500px;
    }*/


    .h33 {

        color: #083e9e;
        font-size: 25px;
        font-family: U8, sans-serif;

    }

    form .p1 {
         margin-top: -20px;
    }

    .p1 {
        color: #4a5568;
        font-size: .875rem;

    }

    form .heading {
        text-align: center;
    }

     input  {
        width: 300px;
        height: 50px;
      }  
     .heading .sel  {
            width: 310px;
            height: 55px;
            margin-top: 10px;
            margin-bottom: 20px;
            color: #4a5568;
            background-color: #edf2f7;
            outline: none;
            border: none;
            border-radius: 5px;
    }
  .heading input {
            margin-top: 10px;
            margin-bottom: 30px;
            color: #4a5568;
            background-color: #edf2f7;
            outline: none;
            border: none;
            border-radius: 5px;
    }

   .heading label {
            color:  navy;
            font-size: 13px;
            margin-top: 30px;
    }

 #lebin label {
    margin-top: 15px;
        position: relative;
        right: 122px;
    }

    
 #lebin1 label {
    margin-top: 15px;
    position: relative;
    right: 112px;
}


#lebin3 label {
    margin-top: 15px;
    position: relative;
    right: 127px;
}


#lebin2 label {
    margin-top: 15px;
    position: relative;
    right: 112px;
}


#lebin4 label {
    margin-top: 15px;
    position: relative;
    right: 43px;
}


#lebin5 label {
    position: relative;
    right: 48px;
}

  /*  form .sel {
        margin-top: -10px;
        color: #4a5568;
        background-color: #edf2f7;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    form .p5 {
        margin-top: 10px;
        color:  navy;
        font-size: 13px;
        padding: 5px;
    }*/

    .hh {
        background-color: #083e9e;
        margin-left: 11%;
        margin-right: 11%;
        margin-bottom: 30px;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    form .h22 {
        color: white;
        padding-top: 10px;
    
    }

    #p6 {
        color: white;
        text-align: center;
        font-size: 12px;
        margin-top: 40px;
    }

    #p7 {
        color: white;
        text-align: center;
        font-size: 12px;
        margin-bottom: 50px;
    }
    
    @media (max-width: 500px) {
          
         form {
            background-color: red;
            margin-left: 20px;
            margin-right: 20px;
         }

         .allimage img {
            width: 135px;
            position: fixed;
        }
         .allimage .img1 {
                     
                    left: -100px;
                    bottom: -120px;
        }
    
        .allimage .img2 {
            left: -120px;
            top: -130px;
        }
    
        .allimage .img3 {
            right: -60px;
            bottom: -65px;
    
        }
        
        .allimage .img4 {
            height: 15opx;
                right: -60px;
                top: -10px;
        
        }
    }