body {
       background-color: red;
       position: relative;
    }

    .allimage img {
        width: 180px;
        position: fixed;
    }

     .allimage .img1 {
                 
                left: -50px;
                bottom: -40px;
    }

    .allimage .img2 {
        left: -10px;
        top: -55px;
    }

    .allimage .img3 {
        right: -60px;
        bottom: -30px;

    }
    
    .allimage .img4 {
            right: -70px;
            top: 0;
    
    }

    .aline {
        display: flex;
        align-items: end;
        margin-left: 550px;
        margin-right: 500px;
    }

    .divimg {
        position: relative;
        bottom: 15px;
        right: 5px;
    }

    h1 {
        color: white;
        text-align: center;
    }

    form {
        background-color: white;
        width: 400px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: center;

    }

    h2 {

        color: #083e9e;
        font-size: 25px;
        font-family: U8, sans-serif;

    }

    form .p1 {
         margin-top: -20px;
    }

    .p1 {
        color: #4a5568;
        font-size: .875rem;

    }

     input {
        display: block;
        width: 300px;
        height: 50px;
        


    }
 #div2 input {
            margin-top: 10px;
            margin-left: 45px;
            color: #4a5568;
            background-color: #edf2f7;
            outline: none;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
    }

   #div2 label {
            color:  navy;
            font-size: 13px;
            padding: 5px;
            margin-top: 30px;
    }

 #lebin {
    margin-top: 15px;
        position: relative;
        right: 122px;
    }

    
 #lebin1 {
    margin-top: 15px;
    position: relative;
    right: 112px;
}


#lebin3 {
    margin-top: 15px;
    position: relative;
    right: 127px;
}


#lebin2 {
    margin-top: 15px;
    position: relative;
    right: 112px;
}


#lebin4 {
    margin-top: 15px;
    position: relative;
    right: 45px;
}


#lebin5 {
    position: relative;
    right: 50px;
}

    form .sel {
        margin-top: -10px;
        color: #4a5568;
        background-color: #edf2f7;
        outline: none;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        width: 315px;
        height: 50px;
    }

    form .p5 {
        margin-top: 10px;
        color:  navy;
        font-size: 13px;
        padding: 5px;
    }

    form .h22 {
        text-align: center;
        margin-left: 45px;
        margin-right: 50px;
        color: white;
        background-color: #062863;
        font-size: 15px;
        padding: 15px;
        margin-top: 30px;
        width: 285px;
        height: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #p6 {
        color: white;
        text-align: center;
        font-size: 12px;
    }